<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key><string>en</string>
	<key>CFBundleExecutable</key><string>AfterDork</string>
	<key>CFBundleIdentifier</key><string>com.gassensmith.afterdork.app</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key><string>After Dork</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleShortVersionString</key><string>1.2.1</string>
	<key>CFBundleVersion</key><string>121</string>
	<key>CFBundleIconFile</key><string>AfterDork</string>
	<key>SUFeedURL</key><string>https://raw.githubusercontent.com/jgassens/after-dork/main/appcast.xml</string>
	<key>SUPublicEDKey</key><string>HK2FMFt1/JlsEm52nLZ7X4cXo1nmLLJpAoRzB3y7tYQ=</string>
	<key>SUEnableAutomaticChecks</key><true/>
	<key>SUAutomaticallyUpdate</key><true/>
	<key>SUScheduledCheckInterval</key><integer>86400</integer>
	<key>LSMinimumSystemVersion</key><string>11.0</string>
	<key>NSHighResolutionCapable</key><true/>
</dict>
</plist>
